# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Testing
.pytest_cache/
.coverage*
htmlcov/
tests/

# Developer Documentation
docs/dev/

# Distribution
dist/
build/
tmp/

# Scratch/testing
scratch/
plugins/imap/__init__.py
plugins/imap/cli.py
plugins/imap/imap_client.py
plugins/imap/README.md
plugins/smtp/__init__.py
plugins/smtp/cli.py
plugins/smtp/README.md
plugins/smtp/smtp_client.py
